<%- include('partials/header') %>

<form class="access" action="/login" method="post">
    <h1>Log In</h1>
    <% if(error) {%>
        <p class="error"> <%= message %></p>
        <% } %>

    <input type="email" name="email" id="" placeholder="Emaill Address" required minlength="8" value="<%= user.email%>">
    <input type="password" name="password" id="" placeholder="Passoword" required minlength="8" value="<%= user.password%>">
    <input type="submit" value="Log In">
    <p>Don't have an account? <a href="/signup">signup</a></p>
    </form>

<%- include('partials/footer') %>
    
